@model MrCoto.Ca.Infrastructure.Modules.GeneralModule.Users.Mails.RegisterMailModel
@{
    Layout = "Common.Pages.Shared._Layout.cshtml";
}

<h2>Estimado(a) @Model.Data.Username</h2>

<p>Le damos la bienvenida a <strong>Clean Architecture Example</strong>, la aplicación para realizar X cosas.</p>

<p>La aplicación permite:</p>
<ul>
    <li>Punto 1</li>
    <li>Punto 2</li>
    <li>Punto 3</li>
</ul>

<p>Saludos,</p>
<p>Clean Architecture Example</p>
