@model MrCoto.Ca.Infrastructure.Modules.GeneralModule.Users.Mails.RegisterMailModel
@{
    Layout = "Common.Pages.Shared._Layout.cshtml";
}

<h2>Estimado(a) @Model.Data.Username</h2>

<p>Le damos la bienvenida a <strong>Simple Agneda</strong>, la aplicación para administrar tus eventos, clientes y flujo de dinero de una 
    forma organizada.</p>

<p>La aplicación permite:</p>
<ul>
    <li>Administrar tus Consultas o Eventos (Partidas de Football o Atención a algún cliente)</li>
    <li>Administrar tu Cartera de Clientes, ver su historial y demás!</li>
    <li>Administrar tu flujo de dinero, revisa qué entra y sale de cada Evento realizado</li>
</ul>

<p>Saludos,</p>
<p>Simple Agenda</p>
